body {
	background-image: url("https://icrazyblaze.github.io/assets/bg.png");
	background-repeat: no-repeat;
	background-color: black;
	font-family: Roboto;
	font-size: 125%;
	color: white;
	
	margin-left: 15px;
}


h1 {
  font-family: 'Bad Script', cursive;
  font-size: 300%;
}
h2 {
	font-family: 'Bad Script', cursive;
	text-shadow: 0px 0px 5px white;
}


a.glow,
a.glow:hover,
a.glow:focus {
	text-decoration: none;
	color: #ffa600;
	text-shadow: none;
	transition: 400ms linear 0s;

	outline: 0 none;
}

a.glow:hover,
a.glow:focus {
	color: white;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
}

if (document.createElement("detect").style.textShadow==="") {
	document.getElementsByTagName("html")[0].className +=" textshadow";
}

.bottomright {
     position: fixed;
     bottom: 4px;
     right: 4px;
}
.largetitle {
	font-size: 400%;
	font-family: 'Press Start 2P', cursive;
}
