body,
h1 {
	font-family: "Roboto", sans-serif
}

body,
html {
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	text-shadow: 0px 0px 6px black;
	color: white;
	background-color: rgba(150, 150, 150, 1);
	font-size: 100%;
}

.bgimg {
	background-image: url('https://icrazyblaze.github.io/assets/bg2.png'), linear-gradient(rgba(200, 200, 200, 0.5), rgba(200, 200, 200, 0.5));
	background-blend-mode: overlay;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}

a:hover {
	color: #ffa600;
}
.greenlink:hover {
	color: #6bac57;
}

.box-large {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 1rem;
	backdrop-filter: blur(8px);
	text-align: center;
}

.box-small {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	padding: 5px;
	backdrop-filter: blur(8px);
	text-align: center;
}

.center {
	margin: auto;
	width: 50%;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.fixed {
	position: fixed;
}

.no-decoration {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
}

.button {
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	transition-duration: 0.4s;
}

#btn1 {
	background-color: #63b521;
}

#btn2 {
	background-color: #ff5349;
}

#btn3 {
	background-color: #9146FF;
}

#btn4 {
	background-color: #7289DA;
}

#btn1:hover {
	background-color: #4f911a;
	color: white;
}

#btn2:hover {
	background-color: #e8332e;
	color: white;
}

#btn3:hover {
	background-color: #6441a5;
	color: white;
}

#btn4:hover {
	background-color: #4E5D94;
	color: white;
}


.button-container {
	text-align: center;
	width: 100%;
}